<div class="title-container">
  <h1 id="index-title">Places in San Francisco</h1>
  <i id="index-subtitle"><%= Place.all.count %> places and <%= Comment.all.count %> ratings</i>
</div>

<div class="col-xs-12 paginate-col">
  <%= will_paginate @places %>
</div>

<% @places.each do |place| %>
  <% comment_count = place.comments.length %>
  <% rating_avg = (place.comments.reduce(0) {|sum, c| sum + c.rating.to_i}).to_f / comment_count %>
  <div class="booyah-box col-xs-10 offset-xs-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.description %></i><br />
    <% if place.comments.empty? %>
      <p>No reviews available</p>
    <% else %>
      <p><b><%= rating_avg.round(1) %> stars</b> with <%= comment_count %> ratings</p>
    <% end %>
    <br />
    <% if place.user.present? %>
      <small><%= place.user.name %></small>
    <% end %>

    <div class="clear"></div>

    <% if place.comments.present? %>
      <div class="col-xs-12">
        <blockquote>
          <% last_comment = place.comments.last %>
          <% if last_comment.humanized_rating.present? %>
            <b><%= last_comment.humanized_rating %></b> -
          <% end %>
          <%= last_comment.message %>
          <br /><small>&#8212 <%= last_comment.user.name %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-xs-12 paginate-col">
  <%= will_paginate @places %>
</div>
