<div class="col-xs-12 paginate-col">
  <%= will_paginate @places %>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 offset-xs-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

    <div class="clear"></div>

    <% if place.comments.present? %>
      <div class="col-xs-12">
        <blockquote>
          <% last_comment = place.comments.last %>
          <% if last_comment.humanized_rating.present? %>
            <b><%= last_comment.humanized_rating %></b> -
          <% end %>
          <%= last_comment.message %>
          <br /><small>&#8212 <%= last_comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>

<div class="col-xs-12 paginate-col">
  <%= will_paginate @places %>
</div>
